<!DOCTYPE html>
<html lang="en">
	<head>
		<title>v-ajax</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="./css/main.css" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div id="root">
			<header>
				<div class="container">
					<div>
						<div class="logo">
							<img src="./img/logo.png" alt="image description" />
						</div>
					</div>
				</div>
			</header>
			<main>
				<div class="container">
					<ul>
						<template v-if="albums == null">
							<span class="loading">Loading</span>
						</template>
						<template v-else>
							<li class="card" v-for="(album,index) in albums" :key="`card-${index}`">
								<div class="card-image">
									<div>
										<img :src="album.poster" alt="image description" />
									</div>
								</div>
								<h3 class="card-title">{{album.title}}</h3>
								<p class="card-author">{{album.author}}</p>
								<h4 class="card-year">{{album.year}}</h4>
								<div class="card-genre">{{album.genre}}</div>
							</li>
						</template>
					</ul>
				</div>
			</main>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script src="./js/main.js" defer></script>
	</body>
</html>
